<section class="contact">
    <h2>Get In Touch</h2>
    <div class="contact-grid">
        <a class="contact-card" href="mailto:connorxspears@gmail.com">
            <img class="contact-icon" src="{{ '/assets/images/gmail-logo.png' | relative_url }}" alt="Email icon">
            <h3>Email</h3>
            <p>connorxspears@gmail.com</p>
        </a>
        <a class="contact-card" href="https://www.linkedin.com/in/connor-spears-5bb23128b/" target="_blank">
            <img class="contact-icon" src="{{ '/assets/images/linkedin-logo.png' | relative_url }}" alt="LinkedIn icon">
            <h3>LinkedIn</h3>
            <p>linkedin.com/in/connor-spears-5bb23128b</p>
        </a>
        <a class="contact-card" href="https://github.com/cspears8" target="_blank">
            <img class="contact-icon" src="{{ '/assets/images/github-mark.png' | relative_url }}" alt="GitHub icon">
            <h3>GitHub</h3>
            <p>github.com/cspears8</p>
        </a>
    </div>
</section>