<header class="site-header">
    <nav class="nav-bar">
        <a class="nav-logo" href="{{ '/' | relative_url }}">Connor Spears</a>
        <div class="nav-links">
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/about/' | relative_url }}">About</a>
            <span style="padding-left: 1rem">|</span>
            <a href="{{ '/projects/ProjectPromotion/ProjectPromotion' | relative_url }}">Project Promotion</a>
            <a href="{{ '/projects/DialogueSystem/DialogueSystem' | relative_url }}">Dialogue System</a>
            <a href="{{ '/projects/CorDraconis/CorDraconis' | relative_url }}">Cor Draconis</a>
        </div>
    </nav>
</header>
