<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/about.css">
</head>
<body>

    <!-- Header Section -->
    <header>
        <h1>{{ page.title }}</h1>
        <h2>WolverineSoft Fall 2024</h2>
        <nav>
            <ul>
                <li><a href="/html/index.html">Home</a></li>
                <li><a href="/html/about.html">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {{ content }}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Connor Spears. All Rights Reserved.</p>
    </footer>

    <script>
        function showSprint(sprintNumber){
            const sprints = document.querySelectorAll('.sprint-content');
            sprints.forEach(sprint => {
                sprint.style.display = 'none';
            });
            document.getElementById('sprint' + sprintNumber).style.display = 'block';
        }
    </script>
</body>
</html>
