<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ '/css/base.css' | relative_url }}">
</head>
<body>

    <!-- Header Section -->
    <header>
        <h1>{{ page.title }}</h1>
		<h2>{{ page.date | date: "%B %d, %Y" }}</h2>
        <nav>
            <ul>
				<li><a href="{{ '/' | relative_url }}">Home</a></li>
				<li><a href="{{ '/about.html' | relative_url }}">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Blog -->
    <main class="blog-content">
        {{ content }}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Connor Spears. All Rights Reserved.</p>
    </footer>

</body>
</html>
